.profileComponent {
    display: grid;
    justify-content: right;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 200px 100px;
    margin-right: 25%;
}

.portrait {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    grid-column: 2/3;
    grid-row: 1/4;
    margin-left: -25%
}

.name {
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: 31px;
    align-self: flex-end;
    margin-left: 10%;
}

.pronunciation {
    grid-row: 2/3;
    grid-column: 1/2;
    font-size: 13px;
    margin-left: 48%;
}

.pronouns {
    grid-row: 3/4;
    grid-column: 1/2;
    font-size: 13px;
    margin-top: -25%;
    margin-left: 29%;
}