body.previousCareerBody {
    grid-row: 2/3;
    position: absolute;
    top: 40%;
    margin: 0 20px;
    background-color: rgb(164, 240, 243);
    padding: 5px 10px;
}

.previous-career-first-letter {
    font-size: 30px;
    margin-left: 15px;
}